
*{
    margin:0 ;
    padding:0;
}

body{
    height: 3000px;
}

/* Banner section */

.banner{
    text-align: center;
    background:linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%) , url('Banner Image.png') center ;
    position: relative;
    width: 1320px;  
    height: 600px;  
    margin: 50px auto;
    border-radius: 16px;
}

#heading{
    color: white;
    text-align: center;
    /* font-family: Merriweather; */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top:180px;
}

#banner{
    color: white;
    text-align: center;
    /* font-family: Merriweather; */
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    margin:20px auto;
}

/* 1st main section */

#fms1{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 150px;
}

#fms2{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 60px;
}

#fms3{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 33px;
}

#fms4{
    text-align: center;
    margin-top: 48px;
}

/* second main section */

.secondmainsection{
    background:linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('Vectorrr.png');
    position: relative;
    width: 1320px;  
    height: 600px;  
    margin: 150px auto;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.mytext{
    padding-top: 126px ;
    padding-left: 126px;
}

 
#sms1{
    text-align: left;
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px; 
}

#sms2{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px; 
}

#sms3{
    background-color: #070211;
    border: 0;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-left: 44px ;
    margin-top: 48px;
 }  

 #group70{
     /* fill: radial-gradient(50% 50% at 50% 50%, #690B02 27%, #8F4941 39%, #B18079 51%, #CDADA8 62%, #E3D1CD 73%, #F2EAE7 84%, #FCFAF6 93%, #FFFFFC 100%); */
     /* background-blend-mode: multiply; 
     mix-blend-mode: multiply;  */
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    flex-shrink: 0;
 }

 /* third main section */

 .thirdmainsection{
    text-align: center;
    width: 1320px;
    height: 482px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    margin: 120px auto;
    border-radius: 16px;
    padding-top: 100px;
 }

 .tms1{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
 }

 .tms{
    color:#FF0000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
 }

 .tms2{
    border-radius: 8px;
    background: #F00;
    color: #FFF;
    border: 0;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding: 16px 32px;
    margin-top: 48px;
 }
 
 /* bonus section 1 */

  .BS1{
   display: flex; 
   width: 1320px;
   height: 500px ;
   background-color: bisque ;
   margin: 120px auto ;
   border-radius: 16px;
   align-items: center;
  }

  .bsA{
   padding-bottom: 100px;
  }

  #bsA1{
   color: #F00;
   font-family: Inter;
   font-size: 24px;
   font-style: normal;
   font-weight: 500;
   line-height: normal;

  }

  #bsA2{
   color: #070211;
   font-family: Merriweather;
   font-size: 48px;
   font-style: normal;
   font-weight: 900;
   line-height: normal;
   text-transform: capitalize;
   margin-top: 10px;

  }

  #bsA3{
   width: 393px;
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;

  }

  .bsB{
   margin-left: 40px;
   width: 448px;
   height: 463px;
   flex-shrink: 0;
   border-radius: 463px;
   border: 15px solid #F00;
  }

  .bsC{
   margin-left: 118px;


  }

  #bsC1{
   padding-top: 80px;
   color: #F00;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 700;
   line-height: normal;

  }

  #bsC2{
   width: 276px;
   color: rgba(7, 2, 17, 0.60);
   font-family: Inter;
   font-size: 20px;
   font-style: normal;
   font-weight: 400;
   line-height: 32px;

  }

  #bsC3{
   margin-top: 13px;
   width: 140px;
   height: 140px;
   flex-shrink: 0;

  }

  /* bonus section 2 */




 /* fourth main section */

 #fthms1{
    text-align: left;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 120px;
    margin-left: 20px;
    list-style: none;
 }

 #fthms2{
    text-align: left;
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
    margin-left: 20px;
    list-style: none;
 }

 #fthms3{
    width: 896px;
    text-align: left;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
    margin-left: 20px;
    list-style: none;
 }

 /* fifth main section */

 .fifthmainsection{
    justify-content: center;
 }

 #fims1{
    display: flex;
    margin-top: 48px;
    margin-left: 20px;
    justify-content: space-around;
 }

 #fims2{
    display: flex;
    margin-top: 24px;
    margin-left: 20px;
    justify-content: space-around;
 }

 .cartimg{
    width: 424px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 16px;
 }

 /* last main section */

 .lastmainsection{
    width: 1320px;
    height: 616px;
    flex-shrink: 0;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    text-align: center;
    justify-content: center;
    margin: 120px auto;
    padding-top: 80px;
 }

 #lsm1{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
 }

 #lsm2{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
 }

 #lsm3{
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    padding-left: 212px;
 }

 #lsm4{
    width: 650px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;
    margin: 48px auto;
   
 }

 #lsm5{
    border: 0;
    
 }

 #lsm6{
    border: 0;
    width: 260px; 
    height: 72px;
    flex-shrink: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize; 
    margin: 0px 0px 0px 230px;
 }

 /* footer section */

 #footer{
      background: black;
      height: 609px; 
 }

 .footerone{
    flex-shrink: 0;
    display: flex; 
    padding-top: 120px;
    padding-left: 140px;
 }

 #address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    width: 375px;
    height: 80px;
 }
 #call{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-left: 560px;
 }
 #web{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    margin-left: 560px;
 }
  
 #hr{
    width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    margin: 50px auto;
 } 

 .footer2{
    text-align: center;
    justify-content: space-around;
 }

 #hr2{
   width: 1320px;
   height: 1px;
   margin: 50px auto;
 }

 /* footer last */

 .footerlast{
    color: #FFF;
    margin-top: 50px;
 }

 #l2{
   margin-left: 24px;
 }

 #l3{
   margin-left: 24px;
 }

 #l4{
   margin-left: 24px;
 }

 #flast{
   margin-left: 140px;
 }
 #fllast{
   margin-left: 880px;
 }

 
